---
import DefaultLayout from "../layouts/defaultLayout.astro";
import Cloud from "../components/cloud.astro";
---

<DefaultLayout>
    <div id="content">
        <Cloud>
            <p>About the diner</p>
        </Cloud>
    </div>
</DefaultLayout>

<style>
    #content{
        display: flex;
    }
    
</style>