---
import DefaultLayout from "../layouts/defaultLayout.astro"
import PGallery from "../components/photo_gallery.astro"
---

<DefaultLayout>
    <div id="content">
        <PGallery>

        </PGallery>
    </div>
</DefaultLayout>

<style>
    #content{
        display: flex;
        justify-content: center;
    }
</style>