---
import DefaultLayout from "../layouts/defaultLayout.astro"
import PGallery from "../components/photo_gallery.astro"
import PhotoWall from "../components/photo_wall.astro"
---

<DefaultLayout>
    <div id="content">
        <!-- <PGallery>

        </PGallery>-->
        <PhotoWall></PhotoWall>
    </div>
</DefaultLayout>

<style>
    #content{
        display: flex;
        justify-content: center;
    }
</style>