---
import DefaultLayout from "../layouts/defaultLayout.astro"
import Cloud from "../components/cloud.astro"

const baseUnit = 2; //vw base unit
---

<DefaultLayout>
	<div id="content">
		<div class="cloud-container">
			<Cloud>
				<div id="header">
					<div>
						<h1 id="headline">Servin’ up sass and grilled cheese to the playa’s weary travelers since 2008</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<img src="images/diner_man2.jpg">
				</div>
			</Cloud>
		</div>
		<div class="cloud-container" id="cloud2">
			<Cloud>
				<div id="header">
					<div>
						<h1 id="headline">The diner is returning to the playa in 2025</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<img src="images/diner_man2.jpg">
				</div>
			</Cloud>
		</div>
		<div class="cloud-container" id="cloud3">
			<Cloud>
				<div id="header">
					<div>
						<h1 id="headline">The diner is returning to the playa in 2025</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<img src="images/diner_man2.jpg">
				</div>
			</Cloud>
		</div>
	</div>
</DefaultLayout>

<style>
	#content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		--unit: 2vw;
	}
	#header{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
	img{
		width: 20vw;
		height: 20vw;
		object-fit: cover;
		border-radius: 50%;
		border: .25rem solid var(--blue);
	}
	.cloud-container{
		padding: calc(var(--unit) * 8.5) 0 calc(var(--unit) * 2) 0;
	}

	#cloud2{
		align-self: flex-start;
	}
	#cloud3{
		align-self: flex-end;
	}
	@media (max-width: 1300px){
		#content{
			--unit: 2.5vw;
		}
	}
	@media (max-width: 900px){
		#content{
			--unit: 2.75vw;
		}
	}
</style>
