---
import DefaultLayout from "../layouts/defaultLayout.astro"
import Cloud from "../components/cloud.astro"
---

<DefaultLayout>
	<div id="header">
		<div>
			<h1 id="headline">The diner is returning to the playa in 2025</h1>
		</div>
		<img src="images/diner_man2.jpg">
	</div>
	<div>
		<Cloud id="cloud" />
	</div>
</DefaultLayout>

<style>
	#header{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5rem;
	}
	#headline{
		padding-bottom: 5rem;
	}
	img{
		width: 25rem;
		height: 25rem;
		object-fit: cover;
		border-radius: 50%;
		border: .25rem solid var(--blue);
	}
	#cloud{
		width: 500px;
	}
</style>
