---
import DefaultLayout from "../layouts/defaultLayout.astro"
import Cloud from "../components/cloud.astro"
import PhotoGallery from "../components/photo_gallery.astro"

const baseUnit = 2; //vw base unit
---

<DefaultLayout>
	<div id="content">
		<div class="cloud-container">
			<Cloud>
				<div id="header">
					<div>
						<h1 id="headline">Servin' up sass and grilled cheese to the playa's weary travelers since 2008</h1>
						<p>The Dust City Diner runs on a heap of love, a fistful of grit, and YOU, our deliciously supportive community!
Help us get our lipstick-wearing old lady and her fabulous (if slightly unhinged) waitress staff back together to make another jaw-dropping appearance with GRILLED CHEESE FOR EVERYONE on the Playa in 2025!
</p>
						<a href="https://dustcitydiner.myshopify.com/"><b><i class="arrow">&rarr;</i>Click here to visit our 2025 fundraiser!<i class="arrow">&larr;</i></b></a>
					</div>
					<img id="headerimg" src="images/diner_man2.jpg">
				</div>
			</Cloud>
		</div>
		<div class="cloud-container" id="cloud2">
			<Cloud>
				<div id="header">
					<img id="dinersketch" src="images/dcdsketch.png">
					<div>
						<p>A '40s American diner that would make Betty Boop swoon—quilted steel backsplash gleaming under the stars, a neon sign that glows much prettier than those damn blinkie lights, and red leather stools just beggin' for your dusty behind.
You'll stumble upon her when your feet are blistered and your water bottle's running dry, somewhere out in deep Playa. She's a fickle mistress, never in the same spot twice... but you'll find her if your heart is true (and your hunger is real)! Just follow the sultry sounds of the Ink Spots and Andrews Sisters floating across the dust, or the unmistakable cackling of night owls swapping tales at our counter. Then BOOM! There she is in all her neon glory—a warm, butter-scented oasis in the cold night with an open seat that's been waiting just for you.
We'll slap down a piping hot grilled cheese with a pickle so crisp it'll wake your third eye, pour you a bottomless cup of coffee—and honey, our waitresses will serve it with waaaayyy too much sass because they've clearly been spending too much time in the sun... 
</p>
					</div>
				</div>
			</Cloud>
		</div>
		<div class="cloud-container" id="cloud3">
			<Cloud>
				<div id="gallery-container">
					<div>
						<p>Since 2010, the Burning Man gods granted us permission to arrive early and feed grilled cheese to those beautiful, starving creatures building massive art in the desert. Along with feeding every dusty wanderer who crosses our path, this has also become a meaningful part of our performance art mission.
Hell, the Dust City Diner's grilled cheese has even been featured in Saveur magazine! That's right—we're FAMOUS, baby!
</p>
						<a href="/gallery"><p>Click here to see more images in our photo gallery &larr;</p></a>
					</div>
					<img id="galleryimg" src="images/Douglas Tom Julia.jpg">
				</div>	
			</Cloud>
		</div>
	</div>
</DefaultLayout>

<style>
	#content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		--unit: 2vw;
	}
	#header{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
	#headerimg{
		width: 20vw;
		height: 20vw;
		object-fit: cover;
		border-radius: 50%;
		box-shadow: 0 calc(var(--unit) * 0.8) calc(var(--unit) * 0.5) rgba(0, 0, 0, 0.1);
	}
	.cloud-container{
		padding: calc(var(--unit) * 8.5) 0 calc(var(--unit) * 2) 0;
	}
	#cloud2{
		align-self: flex-start;
	}
	#dinersketch{
		width: 20vw;
		height: 20vw;
		object-fit: cover;
		flex-shrink: 1;
	}
	#cloud3{
		align-self: flex-end;
	}
	.arrow{
		font-size: calc(var(--unit) * 1);
	}
	#gallery-container{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
	#galleryimg{
		width: 20vw;
		height: 20vw;
		object-fit: cover;
		border-radius: 25%;
		box-shadow: 0 calc(var(--unit) * 0.8) calc(var(--unit) * 0.5) rgba(0, 0, 0, 0.1);
	}
	
	h1 {
		font-size: calc(var(--unit) * 1);
		/*margin: calc(var(--unit) * 0.25) 0;*/
	}
	
	p {
		font-size: calc(var(--unit) * 0.5);
		line-height: 1.4;
		/*margin: calc(var(--unit) * 0.25) 0;*/
	}
	
	a {
		font-size: calc(var(--unit) * 0.5);
	}
	
	@media (max-width: 1300px){
		#content{
			--unit: 2.5vw;
		}
	}
	
	@media (max-width: 900px){
		#content{
			--unit: 3vw;
		}
		
		#header, #gallery-container {
			flex-direction: column;
		}
		
		#headerimg, #dinersketch, #galleryimg {
			width: 40vw;
			height: 40vw;
		}
	}
	
	@media (max-width: 600px){
		#content{
			--unit: 4vw;
		}
		
		#headerimg, #dinersketch, #galleryimg {
			width: 60vw;
			height: 60vw;
		}
	}
</style>
