---
// Cloud.astro
const { vwSize = 2 } = Astro.props; // vwSize as a percentage of viewport width

console.log(vwSize)
---

<!-- <div class="cloud-wrapper" style={`--unit: ${vwSize}vw;`}> -->
<div class="cloud-wrapper">
  <div class="cloud">
    <slot />
  </div>
</div>

<style>
  .cloud {
    background: var(--blue, #87ceeb);
    border-radius: calc(var(--unit) * 10);
    box-shadow: 0 calc(var(--unit) * 0.8) calc(var(--unit) * 0.5) rgba(0, 0, 0, 0.1);
    height: calc(var(--unit) * 12);
    position: relative;
    width: calc(var(--unit) * 35);
    display: flex;
    justify-content: center;
  }

  .cloud:after,
  .cloud:before {
    background: var(--blue, #87ceeb);
    content: '';
    position: absolute;
    z-index: -1;
  }

  .cloud:after {
    border-radius: calc(var(--unit) * 10);
    height: calc(var(--unit) * 10);
    width: calc(var(--unit) * 10);
    left: calc(var(--unit) * 5);
    top: calc(var(--unit) * -5);
  }

  .cloud:before {
    border-radius: calc(var(--unit) * 20);
    width: calc(var(--unit) * 18);
    height: calc(var(--unit) * 18);
    right: calc(var(--unit) * 5);
    top: calc(var(--unit) * -9);
  }
</style>



