---
---

<div class="cloud-wrapper">
  <div class="cloud">
    <div class="cloud-content">
      <slot />
    </div>
  </div>
</div>

<style>

  .cloud {
    background: var(--cloud-color);
    border-radius: calc(var(--unit) * 10);
    box-shadow: 0 calc(var(--unit) * 0.8) calc(var(--unit) * 0.5) rgba(0, 0, 0, 0.1);
    height: calc(var(--unit) * 12);
    width: calc(var(--unit) * 35);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cloud-content {
    width: calc(var(--unit) * 28);
    height: calc(var(--unit) * 15);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(var(--unit) * 1);
    box-sizing: border-box;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .cloud-content::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  .cloud:after,
  .cloud:before {
    background: var(--cloud-color);
    content: '';
    position: absolute;
    z-index: -1;
  }

  .cloud:after {
    border-radius: calc(var(--unit) * 10);
    height: calc(var(--unit) * 10);
    width: calc(var(--unit) * 10);
    left: calc(var(--unit) * 5);
    top: calc(var(--unit) * -5);
  }

  .cloud:before {
    border-radius: calc(var(--unit) * 20);
    width: calc(var(--unit) * 18);
    height: calc(var(--unit) * 18);
    right: calc(var(--unit) * 5);
    top: calc(var(--unit) * -9);
  }
</style>




