---
import '@fortawesome/fontawesome-free/css/all.min.css';
---
<footer>
    <small>
        <img src="/images/logolady.png">
        <p>&copy <span id="year"></span> Dust City Diner. All rights reserved.</p>
        <ul>
            <li><a href="https://www.instagram.com/dustcitydiner/"><i class="fa-brands fa-instagram fa-2x"></i></a></li>
            <li><a href="https://www.facebook.com/DustCityDiner"><i class="fa-brands fa-facebook-square fa-2x"></i></a></li>
            <li><a href="mailto:dustcitydiner@gmail.com"><i class="fa fa-envelope fa-2x"></i></a></li>
        </ul>
    </small>
</footer>

<script>
    const year = document.querySelector("#year")
    if(year){
        year.textContent = new Date().getFullYear().toString();
    }
</script>

<style>
    footer{
        text-align: center;
        padding-bottom: 1rem;
    }
    ul{
        display: flex;
        gap: 1rem;
        list-style: none;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    a:hover{
       color: var(--red);
    }
    img{
        height: 5rem;
        width: auto;
    }
</style>