---
---

<div id="navbar">
    <nav>
        <span>
            <a href="/"><img id="homeImage" src="/images/logo.png"></a>
        </span>
        <div id="right">
            <ul>
                <li><a href="https://dustcitydiner.myshopify.com/">Donate for 2025!</a></li>
                <li><a href="/comingsoon">About</a></li>
                <li><a href="/gallery">Gallery</a></l1>
                <li><a href="mailto:dustcitydiner@gmail.com">Contact Us</a></li>
            </ul>
            <div>
                <hr><hr><hr>
            </div>
        </div>
    </nav>
</div>

<style>
    #navbar{
        position: fixed;
        top: 0;
        left: 0;
        padding: .5rem 1rem 0rem 1rem;
        width: 100%;
        font-size: large;
        background: var(--cloud-color);
        box-sizing: border-box;
        box-shadow: 0 .1rem .1rem var(--lightblue);
    }
    nav{
        display: flex;
        justify-content: space-between;
    }
    img{
        height: auto;
        width: 7rem;
    }
    #right{
        width: 100%;
    }
    ul{
        display: flex;
        gap: 2rem;
        justify-content: right;
    }
    li{
        list-style: none;
    }
    hr{
        margin: 0 0 .3rem 0;
        border-color: var(--blue);
    }
    a:hover{
        color: var(--red);
    }
</style>