---
---

<div>
    <nav>
        <span>
            <img id="homeImage" src="images/logo.png">
        </span>
        <ul>
            <li><a>Donate for 2025!</a></li>
            <li><a>About</a></li>
            <li><a>Newsletter</a></l1>
            <li><a>Contact Us</a></li>
        </ul>
    </nav>
</div>

<style>
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }
    img{
        height: auto;
        width: 6rem;
    }
    ul{
        list-style: none;
        display: flex;
        gap: 2rem;
    }
</style>