---
import Navbar from "../components/navbar.astro"
import Footer from "../components/footer.astro"

import "../styles/globals.css"
---

<html lang="en">
    <head>
		<meta charset="utf-8" />
		<link rel="icon" href="/images/logolady.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Monoton&family=Outfit:wght@100..900&family=Questrial&display=swap" rel="stylesheet">
       
		<title>Dust City Diner</title>
    </head>
    <body>
        <main>
            <slot />
        </main>    
        <Footer />
        <Navbar />
        <img src="/images/Cartoon_Diner.png">
    </body>
</html>

<style>
    html, body {
        height: 100%;
        margin: 0;
    }
    body{
        display: flex;
        flex-direction: column;
        background-image: url("/images/Sunset_Background.png");
        background-repeat: repeat-x;
        background-color: var(--background);
        height: 100vh;
    }
    main{
        flex: 1;
        padding-top: 7rem;
    }
    img{
        height: auto;
        width: 25rem;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    /* Add this media query */
    @media (max-width: 768px) {
        img {
            width: 15rem;
        }
        
        @media (max-width: 480px) {
            img {
                visibility: hidden;
            }
        }
    }
</style>